body {
  width: 100%;
  margin: auto;
}
a {
  text-decoration: none;
  color: red;
}
hr.style { height: 30px; border-style: solid; border-color: black; border-width: 1px 0 0 0; border-radius: 20px; }
hr.style:before { display: block; content: ""; height: 30px; margin-top: -31px; border-style: solid; border-color: black; border-width: 0 0 1px 0; border-radius: 20px; }

.texte {
  color: black;
  display: inline-block;
  width: 100%;
}
.exCode {
  border: 1px dotted black;
  background-color: #FEFEE2;
}

@media screen and (min-width: 0px) {
  .menu {
    width: 100%;
    background-color: #FEFEE2;
    height: 100%;
    font-size: 1em;
  }
  .menu h1 {
    font-size: 1.5em;
    text-align: center;
  }
  .liens {
    width: 100%;
    background-color: #FEFEE2;
    height: 100%;
    font-size: 1em;
  }
  .liens h1 {
    font-size: 1.5em;
    text-align: center;
  }
  .contenu {
    margin-top: 10%;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .menu {
    box-sizing: border-box;
    width: 15%;
    vertical-align: top;
    position: fixed;
    background-color: #FEFEE2;
    height: 100%;
    padding: 0 1%;
    font-size: 15px;
  }
  .menu h1 {
    font-size: 15px;
  }
  .liens {
    box-sizing: border-box;
    vertical-align: top;
    position: fixed;
    width: 15%;
    background-color: #FEFEE2;
    height: 100%;
    padding: 0 1%;
    right: 0;
    font-size: 15px;
  }
  .liens h1 {
    font-size: 15px;
  }
  .contenu {
    margin-top: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    padding: 0 1%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: 15%;
  }
}
@media screen and (min-width: 1000px) {
  .menu {
    box-sizing: border-box;
    width: 15%;
    vertical-align: top;
    position: fixed;
    background-color: #FEFEE2;
    height: 100%;
    padding: 0 1%;
    font-size: 1em;
  }
  .menu h1 {
    font-size: 1.5em;
  }
  .liens {
    box-sizing: border-box;
    vertical-align: top;
    position: fixed;
    width: 15%;
    background-color: #FEFEE2;
    height: 100%;
    padding: 0 1%;
    right: 0;
    font-size: 1em;
    }
    .liens h1 {
      font-size: 1.5em;
    }
    .contenu {
      margin-top: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 70%;
      padding: 0 1%;
      border-left: 1px solid black;
      border-right: 1px solid black;
      margin-left: 15%;
    }
}
.boite_fond {
  border-radius: 6px;
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  display: inline-block;
  margin-right: 5%;
}
.boite {
  border-radius: 6px;
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin-matrix, .spin-rotate, .spin-scale, .spin-scaleX, .spin-scaleY, .spin-skew,
.spin-skewX, .spin-skewY, .spin-translate, .spin-translateX, .spin-translateY {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin-matrix:hover{animation: spin-matrix 5s linear infinite;}
.spin-rotate:hover {animation: spin-rotate 5s linear infinite;}
.spin-scale:hover{animation: spin-scale 5s linear infinite;}
.spin-scaleX:hover{animation: spin-scaleX 5s linear infinite;}
.spin-scaleY:hover{animation: spin-scaleY 5s linear infinite;}
.spin-skew:hover{animation: spin-skew 5s linear infinite;}
.spin-skewX:hover{animation: spin-skewX 5s linear infinite;}
.spin-skewY:hover{animation: spin-skewY 5s linear infinite;}
.spin-translate:hover{animation: spin-translate 5s linear infinite;}
.spin-translateX:hover{animation: spin-translateX 5s linear infinite;}
.spin-translateY:hover{animation: spin-translateY 5s linear infinite;}
@keyframes spin-matrix {
  0% {transform : matrix(0, 0, 0, 0, 0, 0);}
  100% {transform : matrix(0.8, 2, 0.577, 0.8, 10, 10);}
}
@keyframes spin-rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(50deg);}
}
@keyframes spin-scale {
  0% {transform: scale(1,1);}
  100% {transform: scale(2,2);}
}
@keyframes spin-scaleX {
  0% {transform: scaleX(1);}
  100% {transform: scaleX(2);}
}
@keyframes spin-scaleY {
  0% {transform: scaleY(1);}
  100% {transform: scaleY(2);}
}
@keyframes spin-skew {
  0% {transform: skew(0deg, 0deg);}
  100% {transform: skew(20deg, 20deg);}
}
@keyframes spin-skewX {
  0% {transform: skewX(0deg);}
  100% {transform: skewX(20deg);}
}
@keyframes spin-skewY {
  0% {transform: skewY(0deg);}
  100% {transform: skewY(20deg);}
}
@keyframes spin-translate {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(20px, 2em);}
}
@keyframes spin-translateX {
  0% {transform: translateX(0deg);}
  100% {transform: translateX(20px);}
}
@keyframes spin-translateY {
  0% {transform: translateY(0deg);}
  100% {transform: translateY(20px);}
}
