.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);

  &:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
  }
}

.gray {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

.saturate {
  filter: saturate(200%);
  -webkit-filter: saturate(200%);

  &:hover {
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
  }
}

.sepia {
  filter: sepia(1);
  -webkit-filter: sepia(1);

  &:hover {
    filter: sepia(0);
    -webkit-filter: sepia(0);
  }
}

.hue {
  filter: hue-rotate(20deg);
  -webkit-filter: hue-rotate(20deg);

  &:hover {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }
}

.invert {
  filter: invert(1);
  -webkit-filter: invert(1);

  &:hover {
    filter: invert(0);
    -webkit-filter: invert(0);
  }
}

.brightness {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);

  &:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}

.contrast {
  filter: contrast(0.5);
  -webkit-filter: contrast(0.5);

  &:hover {
    filter: contrast(1);
    -webkit-filter: contrast(1);
  }
}

.opacity {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.combinaison {
  filter: grayscale(1) blur(5px);
  -webkit-filter: grayscale(1) blur(5px);

  &:hover {
    filter: grayscale(0) blur(0);
    -webkit-filter: grayscale(0) blur(0);
  }
}

#filtre-svg {
  height: 0;
}

.blur-svg {
  filter: url("../../index.html#svg-blur");
  -webkit-filter: url("#svg-blur");
}