$font: Tahoma, Verdana, Segoe, sans-serif;
$couleurPrincipale: #20063B;
$couleurSecondaire: #CC3363;
$greyHover: #e5e5e5;
$fontSizeH1: 2.5rem;
$defaultRegression: 0.3;

body {
  font-family: $font;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; 
}

h1, h2, h3, h4, h5, h6 {
  color: $couleurPrincipale;
  font-weight: bold;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-bottom: 1px solid $couleurPrincipale;
  letter-spacing: normal;
  word-spacing: normal;
  /*text-rendering: auto;*/
  font-family: $font;
}

h1 {
  font-size: $fontSizeH1;

  &.sub {
    font-size: ($fontSizeH1 - $defaultRegression);
  }
}

h2 {
  font-size: ($fontSizeH1 - $defaultRegression);

  &.sub {
    font-size: ($fontSizeH1 - (2 * $defaultRegression));
  }
}

h3 {
  font-size: ($fontSizeH1 - (2 * $defaultRegression));

  &.sub {
    font-size: ($fontSizeH1 - (3 * $defaultRegression));
  }
}

h4 {
  font-size: ($fontSizeH1 - (3 * $defaultRegression));

  &.sub {
    font-size: ($fontSizeH1 - (4 * $defaultRegression));
  }
}

h5 {
  font-size: ($fontSizeH1 - (4 * $defaultRegression));

  &.sub {
    font-size: ($fontSizeH1 - (5 * $defaultRegression));
  }
}

h6 {
  font-size: ($fontSizeH1 - (5 * $defaultRegression));

  &.sub {
    font-size: ($fontSizeH1 - (6 * $defaultRegression));
  }
}

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: .8em;
  color: $couleurSecondaire;
  border-bottom: none;
  width: 100%;
}

h1.sub, h2.sub, h3.sub, h4.sub, h5.sub, h6.sub {
  color: $couleurSecondaire;
  display: block;
  border-bottom: none;
  width: 100%;
}

a {
  color: $couleurPrincipale;
  text-decoration: none;

  &:visited {
    color: $couleurPrincipale;
  }
}

ul {
  border: 1px solid $couleurPrincipale;
  border-radius: 2px;

  li {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.9rem;

    &:not(:last-child) {
      border-bottom: 1px solid $couleurPrincipale;
    }

    &:hover {
      background-color: $greyHover;
    }
  }
}

section {
  margin-bottom: 4rem;
  width: 100%;

  ul {
    border: none;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: left;

    li {
      padding: 0.4rem 0rem;
      font-size: 1rem;
      list-style-type: initial;
      list-style-type: disc;

      &:not(:last-child) {
        border: none;
      }

      &:hover {
        background: transparent;
      }
    }
  }
}

p {
  text-align: justify;
  margin-top: 2rem;
  display: block;
}

#container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#article {
  letter-spacing: -0.31em;
  /*text-rendering: optimizespeed;*/
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}

#menu, #content {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  /*text-rendering: auto;*/
  font-family: $font;
}

#menu {
  vertical-align: top;
  margin-right: 2rem;
}

@media screen and (max-width: 1200px) {
  #menu {
    width: 100%;
    display: block;
    text-align: center;
  }
}

#content {
  width: 75%;
}

@media screen and (max-width: 1200px) {
  #content {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.content-section {
  width: 100%;
}

pre {
  word-wrap: break-word;
  word-spacing: normal;
  word-break: normal;
  white-space: pre-line;
  margin-top: 1rem;

  & > .hljs {
    padding-left: 2rem;
    padding-bottom: 2rem;
    text-align: left;
  }
}

.exemple, .demonstration-reel, #compatibilite {
  width: 100%;
  margin-bottom: 4.0rem;

  & > .image {
    margin-top: 1rem;
    text-align: center;

    & > strong {
      font-weight: bold;
    }

    & > img {
      margin: 1rem auto;
      max-width: 100%;
      border-radius: 2px;
      display: block;
    }
  }
}

.demonstration-reel {
  letter-spacing: -0.31em;
  /*text-rendering: optimizespeed;*/
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

  & > .controles {
    display: inline-block;
    width: 50%;
    vertical-align: bottom;
    letter-spacing: normal;
    word-spacing: normal;
    /*text-rendering: auto;*/
    font-family: $font;
    padding-left: 4%;
    box-sizing: border-box;

    & > ul > li {
      list-style-type: none;
    }
  }

  & strong {
    cursor: pointer;
  }
}

@media screen and (max-width: 728px) {
  .demonstration-reel {
    display: none;

    & > .controles {
      display: block;
      width: 100%;
    }
  }
}