/* Reset from Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Highlight Syntax */
/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none; }

.hljs,
.hljs-tag,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2; }

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff; }

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e; }

.hljs-link_url {
  font-size: 80%; }

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold; }

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic; }

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672; }

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.hljs-name,
.css .hljs-attribute {
  color: #66d9ef; }

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f2; }

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74; }

.hljs-comment,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5; }

/* Typography */
body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

h1, h2, h3, h4, h5, h6 {
  color: #20063B;
  font-weight: bold;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-bottom: 1px solid #20063B;
  letter-spacing: normal;
  word-spacing: normal;
  /*text-rendering: auto;*/
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

h1 {
  font-size: 2.5rem; }
  h1.sub {
    font-size: 2.2rem; }

h2 {
  font-size: 2.2rem; }
  h2.sub {
    font-size: 1.9rem; }

h3 {
  font-size: 1.9rem; }
  h3.sub {
    font-size: 1.6rem; }

h4 {
  font-size: 1.6rem; }
  h4.sub {
    font-size: 1.3rem; }

h5 {
  font-size: 1.3rem; }
  h5.sub {
    font-size: 1rem; }

h6 {
  font-size: 1rem; }
  h6.sub {
    font-size: 0.7rem; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: .8em;
  color: #CC3363;
  border-bottom: none;
  width: 100%; }

h1.sub, h2.sub, h3.sub, h4.sub, h5.sub, h6.sub {
  color: #CC3363;
  display: block;
  border-bottom: none;
  width: 100%; }

a {
  color: #20063B;
  text-decoration: none; }
  a:visited {
    color: #20063B; }

ul {
  border: 1px solid #20063B;
  border-radius: 2px; }
  ul li {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.9rem; }
    ul li:not(:last-child) {
      border-bottom: 1px solid #20063B; }
    ul li:hover {
      background-color: #e5e5e5; }

section {
  margin-bottom: 4rem;
  width: 100%; }
  section ul {
    border: none;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: left; }
    section ul li {
      padding: 0.4rem 0rem;
      font-size: 1rem;
      list-style-type: initial;
      list-style-type: disc; }
      section ul li:not(:last-child) {
        border: none; }
      section ul li:hover {
        background: transparent; }

p {
  text-align: justify;
  margin-top: 2rem;
  display: block; }

#container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

#article {
  letter-spacing: -0.31em;
  /*text-rendering: optimizespeed;*/
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; }

#menu, #content {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  /*text-rendering: auto;*/
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

#menu {
  vertical-align: top;
  margin-right: 2rem; }

@media screen and (max-width: 1200px) {
  #menu {
    width: 100%;
    display: block;
    text-align: center; } }
#content {
  width: 75%; }

@media screen and (max-width: 1200px) {
  #content {
    width: 100%;
    display: block;
    text-align: center; } }
.content-section {
  width: 100%; }

pre {
  word-wrap: break-word;
  word-spacing: normal;
  word-break: normal;
  white-space: pre-line;
  margin-top: 1rem; }
  pre > .hljs {
    padding-left: 2rem;
    padding-bottom: 2rem;
    text-align: left; }

.exemple, .demonstration-reel, #compatibilite {
  width: 100%;
  margin-bottom: 4.0rem; }
  .exemple > .image, .demonstration-reel > .image, #compatibilite > .image {
    margin-top: 1rem;
    text-align: center; }
    .exemple > .image > strong, .demonstration-reel > .image > strong, #compatibilite > .image > strong {
      font-weight: bold; }
    .exemple > .image > img, .demonstration-reel > .image > img, #compatibilite > .image > img {
      margin: 1rem auto;
      max-width: 100%;
      border-radius: 2px;
      display: block; }

.demonstration-reel {
  letter-spacing: -0.31em;
  /*text-rendering: optimizespeed;*/
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; }
  .demonstration-reel > .controles {
    display: inline-block;
    width: 50%;
    vertical-align: bottom;
    letter-spacing: normal;
    word-spacing: normal;
    /*text-rendering: auto;*/
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding-left: 4%;
    box-sizing: border-box; }
    .demonstration-reel > .controles > ul > li {
      list-style-type: none; }
  .demonstration-reel strong {
    cursor: pointer; }

@media screen and (max-width: 728px) {
  .demonstration-reel {
    display: none; }
    .demonstration-reel > .controles {
      display: block;
      width: 100%; } }
/* Pictures */
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px); }
  .blur:hover {
    filter: blur(0);
    -webkit-filter: blur(0); }

.gray {
  filter: grayscale(1);
  -webkit-filter: grayscale(1); }
  .gray:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0); }

.saturate {
  filter: saturate(200%);
  -webkit-filter: saturate(200%); }
  .saturate:hover {
    filter: saturate(100%);
    -webkit-filter: saturate(100%); }

.sepia {
  filter: sepia(1);
  -webkit-filter: sepia(1); }
  .sepia:hover {
    filter: sepia(0);
    -webkit-filter: sepia(0); }

.hue {
  filter: hue-rotate(20deg);
  -webkit-filter: hue-rotate(20deg); }
  .hue:hover {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg); }

.invert {
  filter: invert(1);
  -webkit-filter: invert(1); }
  .invert:hover {
    filter: invert(0);
    -webkit-filter: invert(0); }

.brightness {
  filter: brightness(50%);
  -webkit-filter: brightness(50%); }
  .brightness:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%); }

.contrast {
  filter: contrast(0.5);
  -webkit-filter: contrast(0.5); }
  .contrast:hover {
    filter: contrast(1);
    -webkit-filter: contrast(1); }

.opacity {
  opacity: 0.5; }
  .opacity:hover {
    opacity: 1; }

.combinaison {
  filter: grayscale(1) blur(5px);
  -webkit-filter: grayscale(1) blur(5px); }
  .combinaison:hover {
    filter: grayscale(0) blur(0);
    -webkit-filter: grayscale(0) blur(0); }

#filtre-svg {
  height: 0; }

.blur-svg {
  filter: url("../../index.html#svg-blur");
  -webkit-filter: url("#svg-blur"); }

/* Navigation */
header, footer {
  background-color: #20063B;
  display: block;
  padding: 1rem;
  color: white;
  width: 100%;
  margin-bottom: 1.4rem; }
  header > .header, footer > .header {
    width: 48%;
    display: inline-block; }
  header > .header:nth-child(2), footer > .header:nth-child(2) {
    text-align: right; }

footer {
  margin-bottom: 0; }
  footer p {
    margin-top: 0;
    text-align: center; }

@media screen and (max-width: 728px) {
  header, footer {
    width: 92%; } }
/* Components */
input {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 160px;
  height: 20px;
  margin: 10px;
  display: block;
  background: linear-gradient(to right, #62C370 0%, #62C370 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat; }

input[type=range]::-moz-range-track {
  width: 0;
  height: 0px;
  border: none; }

input:first-of-type {
  margin-top: 14px; }

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #CC3363; }

input::-moz-range-thumb {
  -moz-appearance: none;
  width: 14px;
  height: 20px;
  background: #CC3363;
  border: none; }

input[type=range]::-ms-track {
  height: 0px;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-thumb {
  margin-top: .4rem;
  width: 14px;
  height: 20px;
  background: #CC3363;
  border: none; }

input[type="reset"] {
  padding: 1rem 2.1rem; }

.scroll {
  width: 28px;
  height: 100px;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 6rem;
  right: 0;
  background: url("../../images/fleche_haut.png") no-repeat 0px 20px; }

@media screen and (max-width: 728px) {
  .scroll {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
