@keyframes movesun {
    0%   {
			position: fixed;
			top: 20px;
			left: -70px;
		}

    25%  {
			position: fixed;
			top: 20px;
			left: 25%;
		}

    50%  {
			position: fixed;
			top: 20px;
			left: 50%;
		}

    100% {
			position: fixed;
			top: 20px;
			left: 100%;
		}

}

@keyframes shadow {
    0%   {
       box-shadow: 20px 6px 3px 5px black;
		}

    25%  {
			box-shadow: 18px 9px 3px 5px black;
		}

    50%  {
			box-shadow: 2px 15px 3px 5px black;
		}

    75%  {
      box-shadow: -18px 9px 3px 5px black;
    }

    100% {
			box-shadow: -20px 6px 3px 5px black;
		}

}


#sun{
	position: fixed;
	top: 20px;
	left:-70px;
	width:40px;
	height:40px;
	border-radius: 40px;
	background-color: yellow;
	box-shadow: 0px 0px 6px 6px #FFFF92;
	animation-name: movesun;
	animation-duration: 10s;
	animation-timing-function: linear;
  animation-iteration-count: infinite;

}


.exemple{
  width: 100px;
  height : 100px;
  margin-top: 100px;
  margin-left: 50%;
  border: 1px solid red;
  background: lightgrey;
  animation-name: shadow;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



.anime {
	border-radius: 15px;
	width: 250px;
	height: 250px;
	background-color: lightgrey;
	text-align: center;
	animation-name: animeOne;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes animeOne {
    from {background-color: red;}
	  75% {
	  font-size: 100px;
	  width: 100%;
	}
    to {background-color: yellow;}
}