@import "variables";

%boite{
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  width: $box_width;
  font-size: 3em;
  font-weight: bolder;
  background-color: $box_background-color;
  color: $box_color;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;

}

.box {
  @extend %boite;
  -webkit-transition-property: $box_transition-property;
  -moz-transition-property: $box_transition-property;
  -o-transition-property: $box_transition-property;
  transition-property: $box_transition-property;
  -webkit-transition-duration: $box_transition-duration;
  -moz-transition-duration: $box_transition-duration;
  -o-transition-duration: $box_transition-duration;
  transition-duration: $box_transition-duration;

  &:hover{
    background-color: $box_hover_background-color;
    color: $box_hover_color;
  }
}


%delay {
  width: 250px;
  height: 200px;
  -webkit-transition-property: $delay_property;
  -moz-transition-property: $delay_property;
  -o-transition-property: $delay_property;
  transition-property: $delay_property;
  -webkit-transition-duration: $delay_duration;
  -moz-transition-duration: $delay_duration;
  -o-transition-duration: $delay_duration;
  transition-duration: $delay_duration;
}

.delay1{

  & img{
    @extend %delay;
    -webkit-transition-delay: $delay_transition-delay-retard;
    -moz-transition-delay: $delay_transition-delay-retard;
    -o-transition-delay: $delay_transition-delay-retard;
    transition-delay: $delay_transition-delay-retard;
  }

  & img:hover{
    width: 400px;
    height: 300px;
  }

}

.delay2{

  & img{
    @extend %delay;
    -webkit-transition-delay: $delay_transition-delay-avance;
    -moz-transition-delay: $delay_transition-delay-avance;
    -o-transition-delay: $delay_transition-delay-avance;
    transition-delay: $delay_transition-delay-avance;
  }

  & img:hover{
    width: 400px;
    height: 300px;
  }

}


%timing{
  -webkit-transition-property: $timing_property;
  -moz-transition-property: $timing_property;
  -o-transition-property: $timing_property;
  transition-property: $timing_property;
  -webkit-transition-duration: $timing_duration;
  -moz-transition-duration: $timing_duration;
  -o-transition-duration: $timing_duration;
  transition-duration: $timing_duration;
}

@mixin timingFunction($timing-function){
  @extend %boite;
  @extend %timing;
  font-size: 1rem;
  background-color: #27233A;
  -webkit-transition-timing-function: $timing-function;
  -moz-transition-timing-function: $timing-function;
  -o-transition-timing-function: $timing-function;
  transition-timing-function: $timing-function;
}

.timing{

  background-color: white;
  border: solid 1px #27233A;

  & #box2.timingEffect{
    @include timingFunction(ease);
  }

  & #box3.timingEffect{
    @include timingFunction(linear);
  }

  & #box4.timingEffect{
    @include timingFunction(ease-in);
  }

  & #box5.timingEffect{
    @include timingFunction(ease-out);
  }

  & #box6.timingEffect{
    @include timingFunction(ease-in-out);
  }

  & #box7.timingEffect{
    @include timingFunction(cubic-bezier(1.000, -0.530, 0.405, 1.425))
  }

  &:hover .timingEffect{
    margin-left: 80%;
  }

}